.vue3-player {
  width: 100%;
}

.vue3-player__controls {
  display: flex;
  width: 100%;
}

.vue3-player__controls-toggleplay,
.vue3-player__controls-togglemute {
  flex: 1;
}

.vue3-player__controls-time {
  flex: 2;
  text-align: center;
  line-height: 2;
}

.vue3-player__controls-track {
  flex: 5;
  line-height: 2;
}

/* Player Track */
.vue3-player__video-track input[type="range"] {
  position: relative;
  top: -1px;
  overflow: hidden;
  width: 245px;
  -webkit-appearance: none;
  background-color: #ccc;
  border-radius: 5px;
}

.vue3-player__video-track input[type="range"]:focus {
  outline: none;
}

.vue3-player__video-track input[type="range"]::-webkit-slider-runnable-track {
  height: 8px;
  -webkit-appearance: none;
  color: #333;
  margin-top: -1px;
}

.vue3-player__video-track input[type="range"]::-webkit-slider-thumb {
  width: 8px;
  -webkit-appearance: none;
  height: 8px;
  cursor: ew-resize;
  background: #333;
  box-shadow: -245px 0 0 245px #333;
}